<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
	BBEdit codeless language module for PlantUML source.
	Nigel Stanger
	Version 1.2017.16, 2017-11-06

	Released under a Creative Commons Attribution-ShareAlike 4.0 International License:
	<http://creativecommons.org/licenses/by-sa/4.0/>
	
	Requires BBEdit 8.0 or higher. To install, copy here:
	
		~/Library/Application Support/BBEdit/Language Modules/
	
	and relaunch BBEdit.
-->
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<false/>
	
	<!-- keywords from "java -jar plantuml.jar -language" -->
	<key>BBLMKeywordList</key>
	<array>
		<!-- keywords -->
		<string>@enddot</string>
		<string>@endsalt</string>
		<string>@enduml</string>
		<string>@startdot</string>
		<string>@startsalt</string>
		<string>@startuml</string>
		<string>activate</string>
		<string>again</string>
		<string>also</string>
		<string>alt</string>
		<string>as</string>
		<string>autonumber</string>
		<string>bottom</string>
		<string>box</string>
		<string>break</string>
		<string>caption</string>
		<string>center</string>
		<string>create</string>
		<string>critical</string>
		<string>deactivate</string>
		<string>destroy</string>
		<string>down</string>
		<string>else</string>
		<string>elseif</string>
		<string>end</string>
		<string>endif</string>
		<string>endwhile</string>
		<string>footbox</string>
		<string>footer</string>
		<string>fork</string>
		<string>group</string>
		<string>header</string>
		<string>hide</string>
		<string>hnote</string>
		<string>if</string>
		<string>is</string>
		<string>kill</string>
		<string>left</string>
		<string>legend</string>
		<string>link</string>
		<string>loop</string>
		<string>namespace</string>
		<string>newpage</string>
		<string>note</string>
		<string>of</string>
		<string>on</string>
		<string>opt</string>
		<string>over</string>
		<string>package</string>
		<string>page</string>
		<string>par</string>
		<string>partition</string>
		<string>ref</string>
		<string>repeat</string>
		<string>return</string>
		<string>right</string>
		<string>rnote</string>
		<string>rotate</string>
		<string>show</string>
		<string>skin</string>
		<string>skinparam</string>
		<string>start</string>
		<string>stop</string>
		<string>title</string>
		<string>top</string>
		<string>top to bottom direction</string>
		<string>up</string>
		<string>while</string>
		
		<!-- types -->
		<string>abstract</string>
		<string>actor</string>
		<string>agent</string>
		<string>archimate</string>
		<string>artifact</string>
		<string>boundary</string>
		<string>card</string>
		<string>class</string>
		<string>cloud</string>
		<string>component</string>
		<string>control</string>
		<string>database</string>
		<string>entity</string>
		<string>enum</string>
		<string>file</string>
		<string>folder</string>
		<string>frame</string>
		<string>interface</string>
		<string>node</string>
		<string>object</string>
		<string>package</string>
		<string>participant</string>
		<string>queue</string>
		<string>rectangle</string>
		<string>stack</string>
		<string>state</string>
		<string>storage</string>
		<string>usecase</string>

		<!-- preprocessor directives -->
		<string>!define</string>
		<string>!definelong</string>
		<string>!else</string>
		<string>!enddefinelong</string>
		<string>!endif</string>
		<string>!if</string>
		<string>!ifdef</string>
		<string>!ifndef</string>
		<string>!include</string>
		<string>!pragma</string>
		<string>!undef</string>
		
		<!-- skin parameters -->
		<string>ActivityBackgroundColor</string>
		<string>ActivityBarColor</string>
		<string>ActivityBorderColor</string>
		<string>ActivityBorderThickness</string>
		<string>ActivityDiamondBackgroundColor</string>
		<string>ActivityDiamondBorderColor</string>
		<string>ActivityDiamondFontColor</string>
		<string>ActivityDiamondFontName</string>
		<string>ActivityDiamondFontSize</string>
		<string>ActivityDiamondFontStyle</string>
		<string>ActivityEndColor</string>
		<string>ActivityFontColor</string>
		<string>ActivityFontName</string>
		<string>ActivityFontSize</string>
		<string>ActivityFontStyle</string>
		<string>ActivityStartColor</string>
		<string>ActorBackgroundColor</string>
		<string>ActorBorderColor</string>
		<string>ActorFontColor</string>
		<string>ActorFontName</string>
		<string>ActorFontSize</string>
		<string>ActorFontStyle</string>
		<string>ActorStereotypeFontColor</string>
		<string>ActorStereotypeFontName</string>
		<string>ActorStereotypeFontSize</string>
		<string>ActorStereotypeFontStyle</string>
		<string>AgentBackgroundColor</string>
		<string>AgentBorderColor</string>
		<string>AgentFontColor</string>
		<string>AgentFontName</string>
		<string>AgentFontSize</string>
		<string>AgentFontStyle</string>
		<string>AgentStereotypeFontColor</string>
		<string>AgentStereotypeFontName</string>
		<string>AgentStereotypeFontSize</string>
		<string>AgentStereotypeFontStyle</string>
		<string>ArrowColor</string>
		<string>ArrowFontColor</string>
		<string>ArrowFontName</string>
		<string>ArrowFontSize</string>
		<string>ArrowFontStyle</string>
		<string>ArtifactBackgroundColor</string>
		<string>ArtifactBorderColor</string>
		<string>ArtifactFontColor</string>
		<string>ArtifactFontName</string>
		<string>ArtifactFontSize</string>
		<string>ArtifactFontStyle</string>
		<string>ArtifactStereotypeFontColor</string>
		<string>ArtifactStereotypeFontName</string>
		<string>ArtifactStereotypeFontSize</string>
		<string>ArtifactStereotypeFontStyle</string>
		<string>BackgroundColor</string>
		<string>BoundaryBackgroundColor</string>
		<string>BoundaryBorderColor</string>
		<string>BoundaryFontColor</string>
		<string>BoundaryFontName</string>
		<string>BoundaryFontSize</string>
		<string>BoundaryFontStyle</string>
		<string>BoundaryStereotypeFontColor</string>
		<string>BoundaryStereotypeFontName</string>
		<string>BoundaryStereotypeFontSize</string>
		<string>BoundaryStereotypeFontStyle</string>
		<string>CaptionFontColor</string>
		<string>CaptionFontName</string>
		<string>CaptionFontSize</string>
		<string>CaptionFontStyle</string>
		<string>CircledCharacterFontColor</string>
		<string>CircledCharacterFontName</string>
		<string>CircledCharacterFontSize</string>
		<string>CircledCharacterFontStyle</string>
		<string>CircledCharacterRadius</string>
		<string>ClassAttributeFontColor</string>
		<string>ClassAttributeFontName</string>
		<string>ClassAttributeFontSize</string>
		<string>ClassAttributeFontStyle</string>
		<string>ClassAttributeIconSize</string>
		<string>ClassBackgroundColor</string>
		<string>ClassBorderColor</string>
		<string>ClassBorderThickness</string>
		<string>ClassFontColor</string>
		<string>ClassFontName</string>
		<string>ClassFontSize</string>
		<string>ClassFontStyle</string>
		<string>ClassHeaderBackgroundColor</string>
		<string>ClassStereotypeFontColor</string>
		<string>ClassStereotypeFontName</string>
		<string>ClassStereotypeFontSize</string>
		<string>ClassStereotypeFontStyle</string>
		<string>CloudBackgroundColor</string>
		<string>CloudBorderColor</string>
		<string>CloudFontColor</string>
		<string>CloudFontName</string>
		<string>CloudFontSize</string>
		<string>CloudFontStyle</string>
		<string>CloudStereotypeFontColor</string>
		<string>CloudStereotypeFontName</string>
		<string>CloudStereotypeFontSize</string>
		<string>CloudStereotypeFontStyle</string>
		<string>CollectionsBackgroundColor</string>
		<string>CollectionsBorderColor</string>
		<string>ColorArrowSeparationSpace</string>
		<string>ComponentBackgroundColor</string>
		<string>ComponentBorderColor</string>
		<string>ComponentFontColor</string>
		<string>ComponentFontName</string>
		<string>ComponentFontSize</string>
		<string>ComponentFontStyle</string>
		<string>ComponentStereotypeFontColor</string>
		<string>ComponentStereotypeFontName</string>
		<string>ComponentStereotypeFontSize</string>
		<string>ComponentStereotypeFontStyle</string>
		<string>ComponentStyle</string>
		<string>ConditionStyle</string>
		<string>ControlBackgroundColor</string>
		<string>ControlBorderColor</string>
		<string>ControlFontColor</string>
		<string>ControlFontName</string>
		<string>ControlFontSize</string>
		<string>ControlFontStyle</string>
		<string>ControlStereotypeFontColor</string>
		<string>ControlStereotypeFontName</string>
		<string>ControlStereotypeFontSize</string>
		<string>ControlStereotypeFontStyle</string>
		<string>DatabaseBackgroundColor</string>
		<string>DatabaseBorderColor</string>
		<string>DatabaseFontColor</string>
		<string>DatabaseFontName</string>
		<string>DatabaseFontSize</string>
		<string>DatabaseFontStyle</string>
		<string>DatabaseStereotypeFontColor</string>
		<string>DatabaseStereotypeFontName</string>
		<string>DatabaseStereotypeFontSize</string>
		<string>DatabaseStereotypeFontStyle</string>
		<string>DefaultFontColor</string>
		<string>DefaultFontName</string>
		<string>DefaultFontSize</string>
		<string>DefaultFontStyle</string>
		<string>DefaultMonospacedFontName</string>
		<string>DefaultTextAlignment</string>
		<string>DiagramBorderColor</string>
		<string>DiagramBorderThickness</string>
		<string>Dpi</string>
		<string>EntityBackgroundColor</string>
		<string>EntityBorderColor</string>
		<string>EntityFontColor</string>
		<string>EntityFontName</string>
		<string>EntityFontSize</string>
		<string>EntityFontStyle</string>
		<string>EntityStereotypeFontColor</string>
		<string>EntityStereotypeFontName</string>
		<string>EntityStereotypeFontSize</string>
		<string>EntityStereotypeFontStyle</string>
		<string>FileBackgroundColor</string>
		<string>FileBorderColor</string>
		<string>FileFontColor</string>
		<string>FileFontName</string>
		<string>FileFontSize</string>
		<string>FileFontStyle</string>
		<string>FileStereotypeFontColor</string>
		<string>FileStereotypeFontName</string>
		<string>FileStereotypeFontSize</string>
		<string>FileStereotypeFontStyle</string>
		<string>FolderBackgroundColor</string>
		<string>FolderBorderColor</string>
		<string>FolderFontColor</string>
		<string>FolderFontName</string>
		<string>FolderFontSize</string>
		<string>FolderFontStyle</string>
		<string>FolderStereotypeFontColor</string>
		<string>FolderStereotypeFontName</string>
		<string>FolderStereotypeFontSize</string>
		<string>FolderStereotypeFontStyle</string>
		<string>FooterFontColor</string>
		<string>FooterFontName</string>
		<string>FooterFontSize</string>
		<string>FooterFontStyle</string>
		<string>FrameBackgroundColor</string>
		<string>FrameBorderColor</string>
		<string>FrameFontColor</string>
		<string>FrameFontName</string>
		<string>FrameFontSize</string>
		<string>FrameFontStyle</string>
		<string>FrameStereotypeFontColor</string>
		<string>FrameStereotypeFontName</string>
		<string>FrameStereotypeFontSize</string>
		<string>FrameStereotypeFontStyle</string>
		<string>Guillemet</string>
		<string>Handwritten</string>
		<string>HeaderFontColor</string>
		<string>HeaderFontName</string>
		<string>HeaderFontSize</string>
		<string>HeaderFontStyle</string>
		<string>HyperlinkColor</string>
		<string>HyperlinkUnderline</string>
		<string>IconIEMandatoryColor</string>
		<string>IconPackageBackgroundColor</string>
		<string>IconPackageColor</string>
		<string>IconPrivateBackgroundColor</string>
		<string>IconPrivateColor</string>
		<string>IconProtectedBackgroundColor</string>
		<string>IconProtectedColor</string>
		<string>IconPublicBackgroundColor</string>
		<string>IconPublicColor</string>
		<string>InterfaceBackgroundColor</string>
		<string>InterfaceBorderColor</string>
		<string>InterfaceFontColor</string>
		<string>InterfaceFontName</string>
		<string>InterfaceFontSize</string>
		<string>InterfaceFontStyle</string>
		<string>InterfaceStereotypeFontColor</string>
		<string>InterfaceStereotypeFontName</string>
		<string>InterfaceStereotypeFontSize</string>
		<string>InterfaceStereotypeFontStyle</string>
		<string>LegendBackgroundColor</string>
		<string>LegendBorderColor</string>
		<string>LegendBorderThickness</string>
		<string>LegendFontColor</string>
		<string>LegendFontName</string>
		<string>LegendFontSize</string>
		<string>LegendFontStyle</string>
		<string>Linetype</string>
		<string>MaxAsciiMessageLength</string>
		<string>MaxMessageSize</string>
		<string>MinClassWidth</string>
		<string>Monochrome</string>
		<string>NodeBackgroundColor</string>
		<string>NodeBorderColor</string>
		<string>NodeFontColor</string>
		<string>NodeFontName</string>
		<string>NodeFontSize</string>
		<string>NodeFontStyle</string>
		<string>NodeStereotypeFontColor</string>
		<string>NodeStereotypeFontName</string>
		<string>NodeStereotypeFontSize</string>
		<string>NodeStereotypeFontStyle</string>
		<string>Nodesep</string>
		<string>NoteBackgroundColor</string>
		<string>NoteBorderColor</string>
		<string>NoteBorderThickness</string>
		<string>NoteFontColor</string>
		<string>NoteFontName</string>
		<string>NoteFontSize</string>
		<string>NoteFontStyle</string>
		<string>NoteShadowing</string>
		<string>ObjectAttributeFontColor</string>
		<string>ObjectAttributeFontName</string>
		<string>ObjectAttributeFontSize</string>
		<string>ObjectAttributeFontStyle</string>
		<string>ObjectBackgroundColor</string>
		<string>ObjectBorderColor</string>
		<string>ObjectBorderThickness</string>
		<string>ObjectFontColor</string>
		<string>ObjectFontName</string>
		<string>ObjectFontSize</string>
		<string>ObjectFontStyle</string>
		<string>ObjectStereotypeFontColor</string>
		<string>ObjectStereotypeFontName</string>
		<string>ObjectStereotypeFontSize</string>
		<string>ObjectStereotypeFontStyle</string>
		<string>PackageBackgroundColor</string>
		<string>PackageBorderColor</string>
		<string>PackageBorderThickness</string>
		<string>PackageFontColor</string>
		<string>PackageFontName</string>
		<string>PackageFontSize</string>
		<string>PackageFontStyle</string>
		<string>PackageStereotypeFontColor</string>
		<string>PackageStereotypeFontName</string>
		<string>PackageStereotypeFontSize</string>
		<string>PackageStereotypeFontStyle</string>
		<string>PackageStyle</string>
		<string>Padding</string>
		<string>ParticipantBackgroundColor</string>
		<string>ParticipantBorderColor</string>
		<string>ParticipantFontColor</string>
		<string>ParticipantFontName</string>
		<string>ParticipantFontSize</string>
		<string>ParticipantFontStyle</string>
		<string>PartitionBackgroundColor</string>
		<string>PartitionBorderColor</string>
		<string>PartitionBorderThickness</string>
		<string>PartitionFontColor</string>
		<string>PartitionFontName</string>
		<string>PartitionFontSize</string>
		<string>PartitionFontStyle</string>
		<string>QueueBackgroundColor</string>
		<string>QueueBorderColor</string>
		<string>QueueFontColor</string>
		<string>QueueFontName</string>
		<string>QueueFontSize</string>
		<string>QueueFontStyle</string>
		<string>QueueStereotypeFontColor</string>
		<string>QueueStereotypeFontName</string>
		<string>QueueStereotypeFontSize</string>
		<string>QueueStereotypeFontStyle</string>
		<string>Ranksep</string>
		<string>RectangleBackgroundColor</string>
		<string>RectangleBorderColor</string>
		<string>RectangleBorderThickness</string>
		<string>RectangleFontColor</string>
		<string>RectangleFontName</string>
		<string>RectangleFontSize</string>
		<string>RectangleFontStyle</string>
		<string>RectangleStereotypeFontColor</string>
		<string>RectangleStereotypeFontName</string>
		<string>RectangleStereotypeFontSize</string>
		<string>RectangleStereotypeFontStyle</string>
		<string>RoundCorner</string>
		<string>SameClassWidth</string>
		<string>SequenceActorBorderThickness</string>
		<string>SequenceArrowThickness</string>
		<string>SequenceBoxBackgroundColor</string>
		<string>SequenceBoxBorderColor</string>
		<string>SequenceBoxFontColor</string>
		<string>SequenceBoxFontName</string>
		<string>SequenceBoxFontSize</string>
		<string>SequenceBoxFontStyle</string>
		<string>SequenceDelayFontColor</string>
		<string>SequenceDelayFontName</string>
		<string>SequenceDelayFontSize</string>
		<string>SequenceDelayFontStyle</string>
		<string>SequenceDividerBackgroundColor</string>
		<string>SequenceDividerBorderColor</string>
		<string>SequenceDividerBorderThickness</string>
		<string>SequenceDividerFontColor</string>
		<string>SequenceDividerFontName</string>
		<string>SequenceDividerFontSize</string>
		<string>SequenceDividerFontStyle</string>
		<string>SequenceGroupBackgroundColor</string>
		<string>SequenceGroupBodyBackgroundColor</string>
		<string>SequenceGroupBorderColor</string>
		<string>SequenceGroupBorderThickness</string>
		<string>SequenceGroupFontColor</string>
		<string>SequenceGroupFontName</string>
		<string>SequenceGroupFontSize</string>
		<string>SequenceGroupFontStyle</string>
		<string>SequenceGroupHeaderFontColor</string>
		<string>SequenceGroupHeaderFontName</string>
		<string>SequenceGroupHeaderFontSize</string>
		<string>SequenceGroupHeaderFontStyle</string>
		<string>SequenceLifeLineBackgroundColor</string>
		<string>SequenceLifeLineBorderColor</string>
		<string>SequenceLifeLineBorderThickness</string>
		<string>SequenceNewpageSeparatorColor</string>
		<string>SequenceParticipant</string>
		<string>SequenceParticipantBorderThickness</string>
		<string>SequenceReferenceBackgroundColor</string>
		<string>SequenceReferenceBorderColor</string>
		<string>SequenceReferenceBorderThickness</string>
		<string>SequenceReferenceFontColor</string>
		<string>SequenceReferenceFontName</string>
		<string>SequenceReferenceFontSize</string>
		<string>SequenceReferenceFontStyle</string>
		<string>SequenceReferenceHeaderBackgroundColor</string>
		<string>SequenceStereotypeFontColor</string>
		<string>SequenceStereotypeFontName</string>
		<string>SequenceStereotypeFontSize</string>
		<string>SequenceStereotypeFontStyle</string>
		<string>SequenceTitleFontColor</string>
		<string>SequenceTitleFontName</string>
		<string>SequenceTitleFontSize</string>
		<string>SequenceTitleFontStyle</string>
		<string>Shadowing</string>
		<string>StackBackgroundColor</string>
		<string>StackBorderColor</string>
		<string>StackFontColor</string>
		<string>StackFontName</string>
		<string>StackFontSize</string>
		<string>StackFontStyle</string>
		<string>StackStereotypeFontColor</string>
		<string>StackStereotypeFontName</string>
		<string>StackStereotypeFontSize</string>
		<string>StackStereotypeFontStyle</string>
		<string>StateAttributeFontColor</string>
		<string>StateAttributeFontName</string>
		<string>StateAttributeFontSize</string>
		<string>StateAttributeFontStyle</string>
		<string>StateBackgroundColor</string>
		<string>StateBorderColor</string>
		<string>StateEndColor</string>
		<string>StateFontColor</string>
		<string>StateFontName</string>
		<string>StateFontSize</string>
		<string>StateFontStyle</string>
		<string>StateStartColor</string>
		<string>StereotypeABackgroundColor</string>
		<string>StereotypeCBackgroundColor</string>
		<string>StereotypeEBackgroundColor</string>
		<string>StereotypeIBackgroundColor</string>
		<string>StereotypeNBackgroundColor</string>
		<string>StereotypePosition</string>
		<string>StorageBackgroundColor</string>
		<string>StorageBorderColor</string>
		<string>StorageFontColor</string>
		<string>StorageFontName</string>
		<string>StorageFontSize</string>
		<string>StorageFontStyle</string>
		<string>StorageStereotypeFontColor</string>
		<string>StorageStereotypeFontName</string>
		<string>StorageStereotypeFontSize</string>
		<string>StorageStereotypeFontStyle</string>
		<string>Style</string>
		<string>SvglinkTarget</string>
		<string>SwimlaneBorderColor</string>
		<string>SwimlaneBorderThickness</string>
		<string>SwimlaneTitleFontColor</string>
		<string>SwimlaneTitleFontName</string>
		<string>SwimlaneTitleFontSize</string>
		<string>SwimlaneTitleFontStyle</string>
		<string>TabSize</string>
		<string>TitleBackgroundColor</string>
		<string>TitleBorderColor</string>
		<string>TitleBorderRoundCorner</string>
		<string>TitleBorderThickness</string>
		<string>TitleFontColor</string>
		<string>TitleFontName</string>
		<string>TitleFontSize</string>
		<string>TitleFontStyle</string>
		<string>UsecaseBackgroundColor</string>
		<string>UsecaseBorderColor</string>
		<string>UsecaseBorderThickness</string>
		<string>UsecaseFontColor</string>
		<string>UsecaseFontName</string>
		<string>UsecaseFontSize</string>
		<string>UsecaseFontStyle</string>
		<string>UsecaseStereotypeFontColor</string>
		<string>UsecaseStereotypeFontName</string>
		<string>UsecaseStereotypeFontSize</string>
		<string>UsecaseStereotypeFontStyle</string>
		
		<!-- colours -->
		<string>APPLICATION</string>
		<string>AliceBlue</string>
		<string>AntiqueWhite</string>
		<string>Aqua</string>
		<string>Aquamarine</string>
		<string>Azure</string>
		<string>BUSINESS</string>
		<string>Beige</string>
		<string>Bisque</string>
		<string>Black</string>
		<string>BlanchedAlmond</string>
		<string>Blue</string>
		<string>BlueViolet</string>
		<string>Brown</string>
		<string>BurlyWood</string>
		<string>CadetBlue</string>
		<string>Chartreuse</string>
		<string>Chocolate</string>
		<string>Coral</string>
		<string>CornflowerBlue</string>
		<string>Cornsilk</string>
		<string>Crimson</string>
		<string>Cyan</string>
		<string>DarkBlue</string>
		<string>DarkCyan</string>
		<string>DarkGoldenRod</string>
		<string>DarkGray</string>
		<string>DarkGreen</string>
		<string>DarkGrey</string>
		<string>DarkKhaki</string>
		<string>DarkMagenta</string>
		<string>DarkOliveGreen</string>
		<string>DarkOrchid</string>
		<string>DarkRed</string>
		<string>DarkSalmon</string>
		<string>DarkSeaGreen</string>
		<string>DarkSlateBlue</string>
		<string>DarkSlateGray</string>
		<string>DarkSlateGrey</string>
		<string>DarkTurquoise</string>
		<string>DarkViolet</string>
		<string>Darkorange</string>
		<string>DeepPink</string>
		<string>DeepSkyBlue</string>
		<string>DimGray</string>
		<string>DimGrey</string>
		<string>DodgerBlue</string>
		<string>FireBrick</string>
		<string>FloralWhite</string>
		<string>ForestGreen</string>
		<string>Fuchsia</string>
		<string>Gainsboro</string>
		<string>GhostWhite</string>
		<string>Gold</string>
		<string>GoldenRod</string>
		<string>Gray</string>
		<string>Green</string>
		<string>GreenYellow</string>
		<string>Grey</string>
		<string>HoneyDew</string>
		<string>HotPink</string>
		<string>IMPLEMENTATION</string>
		<string>IndianRed</string>
		<string>Indigo</string>
		<string>Ivory</string>
		<string>Khaki</string>
		<string>Lavender</string>
		<string>LavenderBlush</string>
		<string>LawnGreen</string>
		<string>LemonChiffon</string>
		<string>LightBlue</string>
		<string>LightCoral</string>
		<string>LightCyan</string>
		<string>LightGoldenRodYellow</string>
		<string>LightGray</string>
		<string>LightGreen</string>
		<string>LightGrey</string>
		<string>LightPink</string>
		<string>LightSalmon</string>
		<string>LightSeaGreen</string>
		<string>LightSkyBlue</string>
		<string>LightSlateGray</string>
		<string>LightSlateGrey</string>
		<string>LightSteelBlue</string>
		<string>LightYellow</string>
		<string>Lime</string>
		<string>LimeGreen</string>
		<string>Linen</string>
		<string>MOTIVATION</string>
		<string>Magenta</string>
		<string>Maroon</string>
		<string>MediumAquaMarine</string>
		<string>MediumBlue</string>
		<string>MediumOrchid</string>
		<string>MediumPurple</string>
		<string>MediumSeaGreen</string>
		<string>MediumSlateBlue</string>
		<string>MediumSpringGreen</string>
		<string>MediumTurquoise</string>
		<string>MediumVioletRed</string>
		<string>MidnightBlue</string>
		<string>MintCream</string>
		<string>MistyRose</string>
		<string>Moccasin</string>
		<string>NavajoWhite</string>
		<string>Navy</string>
		<string>OldLace</string>
		<string>Olive</string>
		<string>OliveDrab</string>
		<string>Orange</string>
		<string>OrangeRed</string>
		<string>Orchid</string>
		<string>PHYSICAL</string>
		<string>PaleGoldenRod</string>
		<string>PaleGreen</string>
		<string>PaleTurquoise</string>
		<string>PaleVioletRed</string>
		<string>PapayaWhip</string>
		<string>PeachPuff</string>
		<string>Peru</string>
		<string>Pink</string>
		<string>Plum</string>
		<string>PowderBlue</string>
		<string>Purple</string>
		<string>Red</string>
		<string>RosyBrown</string>
		<string>RoyalBlue</string>
		<string>STRATEGY</string>
		<string>SaddleBrown</string>
		<string>Salmon</string>
		<string>SandyBrown</string>
		<string>SeaGreen</string>
		<string>SeaShell</string>
		<string>Sienna</string>
		<string>Silver</string>
		<string>SkyBlue</string>
		<string>SlateBlue</string>
		<string>SlateGray</string>
		<string>SlateGrey</string>
		<string>Snow</string>
		<string>SpringGreen</string>
		<string>SteelBlue</string>
		<string>TECHNOLOGY</string>
		<string>Tan</string>
		<string>Teal</string>
		<string>Thistle</string>
		<string>Tomato</string>
		<string>Turquoise</string>
		<string>Violet</string>
		<string>Wheat</string>
		<string>White</string>
		<string>WhiteSmoke</string>
		<string>Yellow</string>
		<string>YellowGreen</string>
	</array>
	
	<key>BBLMPredefinedNameList</key>
	<array>
		<string>%date%</string>
		<string>%dirpath%</string>
		<string>%filename%</string>
	</array>
	
	<key>BBLMLanguageCode</key>
	<string>PUML</string>
	<key>BBLMLanguageDisplayName</key>
	<string>PlantUML</string>
	<key>BBLMScansFunctions</key>
	<false/>

	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.pu</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.puml</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.iuml</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.plantuml</string>
		</dict>
	</array>
	
	<key>BBLMSupportsTextCompletion</key>
	<true/>
	

	<key>Language Features</key>
	<dict>
		<key>Close Block Comments</key>
		<string></string>
		<key>Close Parameter Lists</key>
		<string></string>
		<key>Close Statement Blocks</key>
		<string></string>
		<key>Close Strings 1</key>
		<string>"</string>
		<key>Close Strings 2</key>
		<string></string>
		<key>End-of-line Ends Strings 1</key>
		<false/>
		<key>End-of-line Ends Strings 2</key>
		<false/>
		<key>Escape Char in Strings 1</key>
		<string>\</string>
		<key>Escape Char in Strings 2</key>
		<string>\</string>
		<key>Identifier and Keyword Characters</key>
		<string>0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz^-_./</string>
		<key>Open Block Comments</key>
		<string></string>
		<key>Open Line Comments</key>
		<string>'</string>
		<key>Open Parameter Lists</key>
		<string></string>
		<key>Open Statement Blocks</key>
		<string></string>
		<key>Open Strings 1</key>
		<string>"</string>
		<key>Open Strings 2</key>
		<string></string>
		<key>Prefix for Functions</key>
		<string></string>
		<key>Prefix for Procedures</key>
		<string></string>
		<key>Terminator for Prototypes 1</key>
		<string></string>
		<key>Terminator for Prototypes 2</key>
		<string></string>
	</dict>
</dict>
</plist>
